body {
    font-family: helvetica, arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  h1 {
    color: #3a241d;
    text-align: center;
  }
  h2 {
    color: #d630b8;
    text-align: center;
  }


  #contenedor-izquierdo {
	background-color: rgba(150, 188, 37, 0.768);
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 0px;
}

#contenedor-derecho {
	background-color: rgb(13, 152, 80);
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}


.suelo {
	width: 60%;
	height: 45%;
	background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}
.cielo {
	height: 88%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}

.sol{
	display: flex;
	align-items: flex-start;
	height: 80%;
	width: 60%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -250%;
	opacity: 0.5;
	z-index: 1;
}


.cielito{
	height: 80%;
	width: 60%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -120%;
	opacity: 0.5;
	z-index: 1;
}


.sky{
	display: flex;
	justify-content:space-between;
	align-items:flex-start;
	height: 80%;
	width: 60%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -150%;
	justify-content:space-around;
	opacity: 5;
	z-index: 1;
}

.arbolgrande{
    width: 60%;
	height: 80%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 150%;
	opacity: 0.7;
	z-index: -1;

}

.nino{
    width: 60%;
	height: 45%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 350%;
	opacity: 0.7;
	z-index: -1;

}

.pajaro{
    width: 60%;
	height: 45%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 400%;
	opacity: 0.7;
	z-index: -1;

}
.pajarito{
	display: flex;
	justify-content:center;
	align-items:space-around;
    width: 60%;
	height: 40%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 300%;
	opacity: 6;
	z-index: -1;

}

.perro{
    width: 60%;
	height: 25%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -180%;
	opacity: 0.5;
	z-index: 1;
}

.bici{
	display: flex;
	justify-content:center;
	align-items:center;
    width: 60%;
	height: 30%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -260%;
	opacity: 2;
	z-index: 1;
}

.ninopelota{
	display: flex;
	justify-content:center;
	align-items:center;
    width: 60%;
	height: 25%;
	border-radius: 2rem;
	position: absolute;
	bottom: 0.5%;
	left: -200%;
	opacity: 3;
	z-index: 1;
}

.flores{
    width: 50%;
	height: 60%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 150%;
	opacity: 2;
	z-index: -1;
}
.floreslila{
    width:50%;
	height: 60%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 200%;
	opacity: 3;
	z-index: -1;
}

.chicarubia{
	width: 80%;
	height: 25%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -120%;
	opacity: 0.5;
	z-index: 1;
}


.bancomarron{
	display: flex;
	justify-content:flex-start;
	align-items:flex-start;
	width: 80%;
	height: 40%;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: -120%;
	opacity: 2;
	z-index: 1;
}

.abuelos{
	display: flex;
	justify-content:space-around;
    width: 60%;
	height: 20%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 4%;
	left: 150%;
	opacity: 6;
	z-index: -1;

}
.arbolfrondoso{
	display: flex;
	justify-content:space-around;
	width:50%;
	height: 60%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 230%;
	opacity: 0.7;
	z-index: -1;

}
.arbolybanco{
	display: flex;
	justify-content:space-between;
	width:50%;
	height: 50%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 150%;
	opacity: 0.7;
	z-index: -1;

}

.tobogan{
	display: flex;
	justify-content:center;
	width:50%;
	height: 70%;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: -120%;
	opacity: 13;
	z-index: -1;

}